p{
    color: blue;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.negrito{
    font-weight: bold;
}
img{
    display:block;
    width: 10%;
    height: 10%;
    margin: auto;
}
